body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 7px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.nav-bar >h1{
    position: relative;
    left: 13rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -10px;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-logo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20rem;
}

.img-logo {
    width: 100px;
    height: 95px;
    border-radius: 50%;
}

.container-btn {
    display: flex;
    gap: 10px;
    order: 2; /* Botones a la derecha */
    margin-top: 64px;
}

.icon-btn {
    padding: 7px;
    background-color: #8732cc;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.icon-btn >img {
    width: 15px;
    margin-right: 5px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.flex-container > div {
    flex: 1 1 200px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f1f510;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-city {
    width: 100%;
    height: auto;
}

.inputs-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(28, 83, 235);

}

input, select {
    padding: 5px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin-top: 30px;
    padding-left: 10px;
}





/* Responsive Media Queries */
@media (max-width: 768px) {
    .container-header {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .container-btn {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .icon-btn {
        flex-direction: column;
    }
}

