body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.nav-bar >h1{
    position: relative;
    left: 13rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: -20px;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-logo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20rem;
}

.img-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.container-btn {
    display: flex;
    gap: 10px;
    order: 2; /* Botones a la derecha */
    margin-top: 35px;
}

.icon-btn {
    padding: 7px;
    background-color: #8732cc;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.icon-btn >img {
    width: 15px;
    margin-right: 5px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    gap: 5px;
    margin: 8px;
    margin-top: -22px;
    margin-left: 50px;
    

}

.flex-container > div {
    flex: 1 1 150px;
    margin: 10px;
    text-align: center;
    background-color: #f1f510;
    border-radius: 15px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.img-city {
    width: 100%;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
    
}


.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 59%;
    margin: 8px;
    margin-top: -25px;
    margin-left: 285px;
    
    
}


.flex-container1 > div {
    flex: 1 1 150px;
    margin: 12px;
    text-align: center;
    background-color: #f1f510;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}


.img-city1 {
    width: 240px;
    height: 130px;
    border-radius: 20px;
    object-fit: cover;
}



.inputs-container1 {
    display: flex;
    position: relative;
    left: 20rem;
    align-items: center; 
    flex-wrap: wrap;
    width: calc(15% - 40px);
    margin-top: 20px;
}

.inputs-container2 {
    display: flex;
    position: relative;
    left: 29rem;
    align-items: center; 
    flex-wrap: wrap;
    width: calc(45% - 40px);
    margin-top: -27px;
    

}

.inputs-container3 {
    display: flex;
    position: relative;
    left: 43rem;
    align-items: center; 
    flex-wrap: wrap;
    width: calc(45% - 40px);
    margin-top: -27px;
    

}

.inputs-container4 {
    display: flex;
    position: relative;
    left: 56rem;
    align-items: center; 
    flex-wrap: wrap;
    width: calc(15% - 40px);
    margin-top: -27px;

}

input, select{
    padding: 2px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-right: 300px;
    padding: 1;
    
    
} 

label {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Footer */
.footer {
    background-color: #0760b9; /* Azul */
    color: #FFFFFF; /* Blanco */
    text-align: center;  
    width: 100%;
    height: 20%;
    margin-top: -10px;
  }


  




/* Responsive Media Queries */
@media (max-width: 768px) {
    .container-header {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .container-btn {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .icon-btn {
        flex-direction: column;
    }
}

/* Media queries para adaptación a diferentes tamaños de pantalla */
@media (max-width: 768px) { /* Tablets y teléfonos grandes */
    .flex-parent {
        flex-direction: column;
    }

    .inputs-container1, .inputs-container2, .inputs-container3, .inputs-container4 {
        width: 100%; /* Aprovecha el ancho completo en dispositivos pequeños */
        margin: 5px; /* Reduce el margen para mejorar la adaptabilidad */
    }
}

@media (max-width: 480px) { /* Teléfonos pequeños */
    input, select {
        padding: 5px; /* Reduce el padding para más espacio */
    }

    label {
        font-size: 0.9em; /* Reduce el tamaño de la fuente para mejor visualización */
    }
}

@media (min-width: 768px) {
    footer {
        width: 75%; /* Ajusta según necesidades */
        margin: 0 auto;
    }
}